.inflight {
  &-container {
    height: 600px;
    display: block;

    p {
      position: absolute;
      margin-top: 20rem;
      margin-left: 40em;
      border: 2px red solid;
      height: 100px;
      width: 40%;
      text-align: center;
      padding-top: 30px;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }
  }
}

span.toggle-span {
  position: relative;
  left: 42%;
  top: 135px;

  h3 {
    position: relative;
    margin-left: 38px;
    padding-bottom: 8px;
  }
}
