.search-button {
  margin: 8px;
  padding: 7px;
  border-radius: 30px;
  width: 8%;
  background-color: #09f6a6;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
