.navbar-links {
  text-decoration: none;
  color: antiquewhite;
  text-align: center;
  padding: 14px 16px;
  display: block;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #47476b;
  }
}

.navbar {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
  }
  li {
    float: left;
    div {
      display: block;
      padding: 10px;
    }
    &:last-child {
      float: right;
    }
  }
}
