.searchbar-container {
  position: relative;
  top: 40%;
  left: 35%;
}

.flight-searchlist {
  width: 400px;
  height: 45px;
  border-radius: 43px 43px 43px 43px;
  -webkit-border-radius: 43px 43px 43px 43px;
  -moz-border-radius: 43px 43px 43px 43px;
  box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.76);
}
